<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.github.tomhusky.wechatmvc.server.mapper.GroupChatMapper">
    <select id="listGroupChatUserInfo" resultType="io.github.tomhusky.wechatmvc.server.vo.query.GroupUserDetail">
        select su.wxid,
               su.signature,
               su.sex,
               su.avatar,
               su.nickname,
               su.username,
               su.area,
               gcu.type,
               gcu.nickname as groupNickname
        from group_chat gc
                     left join group_chat_user gcu on gc.group_no = gcu.group_no
                     left join sys_user su on su.id = gcu.user_id and su.deleted = 0
        where gc.deleted = 0 and gcu.deleted = 0
          and gc.group_no = #{groupNo}
    </select>

    <select id="listGroupChatByUser" resultType="io.github.tomhusky.wechatmvc.server.vo.query.GroupChatVo">
        select gc.*, gcu.remark, gcu.not_disturb
        from group_chat gc
                     left join group_chat_user gcu
                on gc.group_no = gcu.group_no
        where gc.deleted = 0
          and gcu.deleted = 0
          and gcu.user_id = #{userId}
    </select>
</mapper>
