<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.github.tomhusky.wechatmvc.server.mapper.UserMapper">
    <select id="getAccountInfoByName" resultType="io.github.tomhusky.wechatmvc.server.vo.AccountInfo">
        select u.username,
               u.nickname,
               u.avatar,
               u.email,
               u.status,
               u.mobile,
               u.signature,
               u.sex,
               u.wxid,
               u.id as user_id,
               ac.password
        from sys_user u
                     left join sys_account ac on u.username = ac.username
        where u.username = #{username}
    </select>

    <select id="selectUser" resultType="io.github.tomhusky.wechatmvc.server.vo.query.SelectUserVo">
        select su.username,
               su.nickname,
               su.avatar,
               su.sex,
               su.signature,
               su.wxid,
               su.area
        from sys_user su
        where su.username = #{value}
           or su.wxid = #{value}
    </select>
</mapper>
